<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Agjudge tayon!</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<%= stylesheet_link_tag 'default' %>
<%= javascript_include_tag :all %>
</head>
<body>
  <div id="container">
    <h1>Agjudge tayon!</h1>
    <%= yield  %>
  </div>
</body>
</html>

